In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
workout_dict = {
  "calories": [420, 380, 390, 390],
  "duration": [50, 40, 45, 45],
  "type": ['run', 'walk', 'walk', 'run']
}

In [3]:
print(workout_dict)

{'calories': [420, 380, 390, 390], 'duration': [50, 40, 45, 45], 'type': ['run', 'walk', 'walk', 'run']}

In [4]:
workout=pd.DataFrame(workout_dict)
workout

   calories  duration  type
0       420        50   run
1       380        40  walk
2       390        45  walk
3       390        45   run

In [5]:
display(workout)

   calories  duration  type
0       420        50   run
1       380        40  walk
2       390        45  walk
3       390        45   run

In [6]:
type(workout)

pandas.core.frame.DataFrame

更改行名称（索引）和列名称

In [7]:
workout.to_dict()

{'calories': {0: 420, 1: 380, 2: 390, 3: 390},
 'duration': {0: 50, 1: 40, 2: 45, 3: 45},
 'type': {0: 'run', 1: 'walk', 2: 'walk', 3: 'run'}}

In [8]:
workout.index    #行标题

RangeIndex(start=0, stop=4, step=1)

In [9]:
workout.columns     #列标题

Index(['calories', 'duration', 'type'], dtype='object')

In [10]:
workout.index.tolist()

[0, 1, 2, 3]

In [11]:
workout.columns.tolist()

['calories', 'duration', 'type']

In [12]:
workout=pd.DataFrame(workout_dict,index=['第一天','day2','day3','day4'])

In [13]:
workout

      calories  duration  type
第一天        420        50   run
day2       380        40  walk
day3       390        45  walk
day4       390        45   run

对行、列索引单独赋值（可以是数字、字符）

In [14]:
workout.index=["day1", "第二天", "day3", "day4"]
workout.columns=["calories", "持续时间", "type"]
workout

      calories  持续时间  type
day1       420    50   run
第二天        380    40  walk
day3       390    45  walk
day4       390    45   run

选择表格DateFrame中的行或者列

In [15]:
#查看某一列(保留列表格式)
workout[['calories']]   #括号套括号实现的

      calories
day1       420
第二天        380
day3       390
day4       390

In [16]:
type(workout['calories'])

pandas.core.series.Series

In [17]:
#查看某一列，与上面比较不带格式
workout['calories']     #单括号

day1    420
第二天     380
day3    390
day4    390
Name: calories, dtype: int64

In [18]:
type(workout)

pandas.core.frame.DataFrame

In [19]:
#根据索引选取数据（某一行）
workout.loc['第二天',:]  #单括号

calories     380
持续时间          40
type        walk
Name: 第二天, dtype: object

In [20]:
#同样根据索引选择某一行（保持DateFrame格式）
workout.loc[['第二天'],:]    #双括号

     calories  持续时间  type
第二天       380    40  walk

In [21]:
#访问列表左上角前两行前两列
workout.iloc[0:2,0:2]

      calories  持续时间
day1       420    50
第二天        380    40

In [22]:
#  访问单独数据
workout.at['第二天','type']

'walk'

In [25]:
#改变单个数据的值
workout.at['第二天','type']='睡觉'

In [26]:
workout

      calories  持续时间  type
day1       420    50   run
第二天        380    40    睡觉
day3       390    45  walk
day4       390    45   run

In [30]:
#根据位置选择数据
workout.iloc[1:3,1:3]

      持续时间  type
第二天     40    睡觉
day3    45  walk

In [31]:
#根据位置选择数据
workout.iloc[0,:]  #第一行

calories    420
持续时间         50
type        run
Name: day1, dtype: object

In [32]:
#根据位置选择数据（带格式）
workout.iloc[[0],:]  #双括号

      calories  持续时间 type
day1       420    50  run

In [36]:
#根据位置选择数据（带格式）
workout.iloc[ :,0]  #第一列

day1    420
第二天     380
day3    390
day4    390
Name: calories, dtype: int64

In [37]:
#根据位置选择数据（带格式）
workout.iloc[ :,[0]]  #第一列、双括号

      calories
day1       420
第二天        380
day3       390
day4       390